@import url('https://fonts.googleapis.com/css?family=Montserrat:700')

p {
  font-family: 'Merriweather';
  font-size: 20px; 
}

header {
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}

input {
  font-family: 'Merriweather';
  font-size: 16px;
}

select {
  font-family: 'Merriweather';
  font-size: 16px;
}

button {
  color: white;
  font-family: 'Merriweather';
  font-size: 20px;
  background-color: #D02035;
  display: block;
  width: 100%;
  border: none;
  height: 41px;
}

body {
  background-color: #282828;
  color: white;
  display: table-cell;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

form{
  display: flex;
  justify-content: center;
}

.button{
  display:flex;
  justify-content: center;
  width: 100%;
}

.innerForm{
  display: block;
  width: 100%;
}

#email{
  width: 49%;
  height: 35px;
}

#interests{
  width: 49%;
  background-color: white;
}

.inputs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #797979;

}

#hidden{
  font-family: 'Merriweather';
  font-size: 12px;
  margin-bottom: 10px;
  width: 49%;
  display: flex;
  justify-content: flex-end;
  height: 15px;
}

#redLine{
  width: 26%;
  background-color: #D02035;
  height: 100%;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.borderError{
  border-width: thin;
  border: red;
}

.thanks{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
}

#prepare{
  margin-bottom: 0
}