@import url('https://fonts.googleapis.com/css?family=Montserrat:700')

p {
  font-family: 'Merriweather';
  font-size: 20px; 
}

header {
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  font-weight: 700;
}

input {
  font-family: 'Merriweather';
  font-size: 16px;
}

button {
  color: white;
  font-family: 'Merriweather';
  font-size: 20px;
  background-color: #D02035;
  display: block;
  width: 100%;
  border: none;
}

body {
  background-color: #282828;
  color: white;
  display: table-cell;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

form{
  display: flex;
  justify-content: center;
}

.button{
  display:flex;
  justify-content: center;
  width: 100%;
}

.innerForm{
  display: block;
  width: 100%;
}

#email{
  width: 49%;
}

#interests{
  width: 49%;
}

.inputs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}

#hidden{
  margin-left: 32%;
  font-family: 'Merriweather';
  font-size: 12px;
  margin-bottom: 5px;
}

#disabledOption{
  color: #D3D3D3;
}